@media (max-width:991px) {
    .header__nav-collapse {
        max-width: max-content;
    }
    .header__title .header__headline {
        font-size: 35px;
    }
   .header__title .header__description {
        font-size: 18px;
    }
    .section__team {
        margin-bottom: 90px !important;
    }
    .section__stats {
        margin-bottom: 90px !important;
    }
    .footer__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__list {
       align-items: center;
       margin-bottom: 30px;
    }
    .footer__list-adress {
        text-align: center;
    }
    .footer__info {
        margin-bottom: 30px !important;
    }
    .footer {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

@media (max-width:400px) {
     .header {
        padding-top: 30px !important;
    }
    .header__social_icons {
        flex-direction: column;
    }
    .header__social_icons .header__social_icon:not(:last-child) {
        margin-right: 0 !important;
    }
    .navbar .header__nav-items {
        transform: translate(0);
    }
    .footer__input-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__footer-email {
        margin-bottom: 20px;    
    }

}
@media (max-width:331px) {
     .section__contacts-title {
         font-size: 28px !important;
     }
    
}